<app-page-container>
    <h1 class="title">Pulsed, High-Voltage Systems, Components, and Diagnostics: <br/><br/> Solutions for Research, Engineering, and Technology</h1>
    
    <hr/>

    <p>L-Egant Solutions is the US representative for Zeonics Systech, who manufactures a broad range of specialized (mostly custom), high-voltage systems and components for research, commercial, and defense applications. All of our products are manufactured to the highest standards of reliability and performance. <a href="http://systechcapacitors.com/index.php" target="_blank">Zeonics Systech</a> has been in business since 1981.</p>

    <hr/>

    <app-showcase>
        <img left src="images/FRC.png"/>
        <div right class="vertically-spaced">
            <a href="/diagnostics">
                Dispersion Interferometer for
                2-Dimensional Density Imaging in Plasma and Neutral Gas
            </a>
            <a href="/systems">
                Pulsed (1 ns), Co-linear, IR (1064 nm) & visible (532 nm) laser beams, 
                35-mm beam diameter, 100 Hz framing rate
            </a>
        </div>
    </app-showcase>

    <hr/>

    <app-showcase>
        <img right src="images/complete_rail_gap_system_compressed.jpeg"/>
        <div left class="vertically-spaced">
            <a href="/diagnostics">
                Dispersion Interferometer for
                2-Dimensional Density Imaging in Plasma and Neutral Gas
            </a>
            <a href="/systems">
                Pulsed (1 ns), Co-linear, IR (1064 nm) & visible (532 nm) laser beams, 
                35-mm beam diameter, 100 Hz framing rate
            </a>
            <p href="/systems">
                thing
            </p>
        </div>
    </app-showcase>

    <hr/>

    <app-showcase>
        <img left src="images/spark-gaps.jpg"/>
        <div right class="vertically-spaced">
            <a href="/components">High-Voltage Components</a>
            <a href="/components">
                Pulse Current Transformers, Capacitors, Diodes, Resistors, 
                HV Wires/Connectors, Shorting Sticks, etc.
            </a>
        </div>http://localhost:4200/pdfs/2024-Zeonics-Systech-Catalog.pdf
    </app-showcase>

    <hr/>

</app-page-container>

