<app-page-container>
    <h1 class="title">Cost-Effective Solutions for R&D in Science, Engineering, and Technology</h1>

    <hr/>

    <p>
        L-Egant Solutions (LES) offers for sale a wide variety of high-voltage 
        systems, components, and diagnostic products widely used in activities 
        dealing with fusion energy, plasma physics, pulsed-power, and other 
        technology areas. Our company was founded to address your R & D workflow 
        and project productivity by supplying cost-effective laboratory equipment 
        in a timely manner. We represent Zeonics Systech, Bangalore India, who is 
        a leading manufacturer of innovative product solutions in these areas. Since 
        1981 Zeonics has provided products characterized by the highest quality and 
        performance available on the world market and LES has partnered with them since 2017.
    </p>

    <p>
        LES also offers for sale a two-color, laser-interferometer diagnostic available in two 
        configurations - as a 1-dimensional, line-of-sight instrument and a 2-dimensional, 
        transverse-imaging instrument. This interferometer design is robustly stable with a 
        broad range in sensitivity and can be used to quantitatively measure density as a dispersive 
        phase shift in plasma, gas, and liquids. Dispersion interferometry is a tremendous simplification 
        over conventional methods in terms of its simplicity, performance, and cost. Please refer to the several 
        published papers on these instruments.
    </p>

    <p>
        It will be my pleasure to provide you with the highest level of support for your research needs. 
        My personal background is in plasma physics related to fusion energy, with an emphasis 
        on experimental & computational methods. You can check out our team's latest pursuit <a href="https://www.safenergy.earth/" target="_blank">here</a>.
    </p>

    <p>Best wishes for success,</p>

    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" id="signature">Frank J Wessel</div>
        <div class="col-sm-4 image-container">
            <img src="images/fw.jpg"/>    
        </div>
    </div>

</app-page-container>
