.app-navbar {
    background-color: #333;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.app-navbar > a {
    color: white;
    font-size: 1rem;
    text-decoration: none;
    padding: 1rem;
}

.app-navbar > a:hover {
    background-color: red;
    text-decoration: underline;
}