.jump-link {
    display: block;
    text-align: center;
}

a:hover {
    cursor: pointer;
}

app-showcase p {
    text-align: start;
    font-weight: bold;
}

app-showcase img {
    max-height: 20rem;
}