.showcase-container, .left, .right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-right-container {
    display: flex;
    align-items: space-between;
}

:host ::ng-deep > * {
    display: contents;
}

.left, .right {
    display: flex;
    justify-content: space-around;
}



