<app-page-container>
    <h1 class="title">High-Voltage Components</h1>
    <p class="downloads">Downloads: <a href="pdfs/2024-Zeonics-Systech-Catalog.pdf" target="_blank">Complete Product Catalog</a></p>

    <hr/>

    <!--Capacitors-->
    <app-showcase>
        <img left src="images/miscCapacitors.png"/>
        <div right class="vertically-spaced">
            <h2><a href="/components/capacitors">Capacitors</a></h2>
        </div>
    </app-showcase>

    <hr/>
    
    <!--Diodes-->
    <app-showcase>
        <img right src="images/diodes.png"/>
        <div left class="vertically-spaced">
            <h2 left><a href="/components/diodes">Diodes</a></h2>
        </div>
    </app-showcase>

    <hr/>

    <!--Resistors-->
    <app-showcase>
        <img left src="images/resistors.png"/>
        <div right class="vertically-spaced">
            <h2 right><a href="/components/resistors">Resistors</a></h2>
        </div>
    </app-showcase>

    <hr/>
    
    <!--Switches-->
    <app-showcase>
        <img right src="images/railGap.png"/>
        <div left class="vertically-spaced">
            <h2 left><a href="/components/switches">Switches</a></h2>
        </div>
    </app-showcase>

    <hr/>

    <!--Transformers-->
    <app-showcase>
        <img left src="images/item5.png"/>
        <div right class="vertically-spaced">
            <h2 right><a href="/components/transformers">Transformers</a></h2>
        </div>
    </app-showcase>

    <hr/>

    <!--Miscellaneous-->
    <app-showcase>
        <img right src="images/dischargeStick.png"/>
        <div left class="vertically-spaced">
            <h2 left><a href="/components/miscellaneous">Miscellaneous</a></h2>
        </div>
    </app-showcase>

    <hr/>

</app-page-container>
